{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}

    {% for commande in commandes %}


    <table class="table">
        <thead class="thead-dark text-center">
        <tr>
            <th >Nom</th>
            <th >Photo</th>
            <th >Prix unitaire</th>
            <th >Prix Total</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for item in commande.achats %}
            <tr>
                <td>{{  item.article.nom }}</td>
                <td><img height="40" width="40" src="{{ asset('upload/') }}{{ item.article.image }}" alt="{{ item.article.nom }}"></td>

                <td>{{ item.article.prix  }} €</td>
                <td>{{ item.article.prix * item.quantite }} €</td>

        {% endfor %}
        </tbody>

    </table>

    <div class="col-md-8 mt-2"><h4>Total de la commande : {{ commande.montantTotal }} €</h4></div>
{% endfor %}


{% endblock %}



