<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}BIJOULUX {% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}


    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.0.1/lux/bootstrap.min.css"
              integrity="sha512-EJJuqC8nbI+dUjDM89eZ8dVmckG/vAfKIhmW4pi3Y/S1gE8uvIHuPqpbZ3/DliUQOZbS0Wp7317zoPRRoX+E+A=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
              integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>

    {% endblock %}


</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}"> <i class="fas fa-3x fa-gem"></i> BIJOULUX <i class="fas fa-3x fa-gem"></i> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home') }}"> <i class="fas fa-home"></i> Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="{{ path('panier') }}" role="button"
                       aria-haspopup="true" aria-expanded="false" ><i class="fas fa-cart-arrow-down"></i> Panier</a>

                </li>



                {% if not app.user  %}


                <li class="nav-item">
                    <a class="nav-link" href="{{ path("register") }}"> <i class="fas fa-user-circle"></i> Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("login") }}"> <i class="fas fa-user"></i> Connexion</a>
                </li>
                {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> {{ app.user.username }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Profil</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('listeArticle') }}">Back-0ffice</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("logout") }}"> <i class="fas fa-user-times"></i> Deconnexion</a>
                    </div>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>


<div class="container mt-5">
    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <h1>{% block TitrePage %} {% endblock %}</h1>
        </div>
    </div>

    {% block body %}

    {% endblock %}
</div>


{% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

{% endblock %}


</body>


</html>
