{% extends 'baseBack.html.twig' %}
{% block title %}

{% endblock %}


{% block body %}


    {% for commande in commandes %}

        <h4>Commande N° {{ commande.id }}, du {{ commande.date | date('d/m/Y') }} à {{ commande.date | date('h:i:s') }}</h4>
        <table class="table">
            <thead class="thead-dark text-center">
            <tr>
                <th >Nom</th>
                <th >Photo</th>
                <th >Prix unitaire</th>
                <th >Prix Total</th>
            </tr>
            </thead>
            <tbody class="text-center">
            {% for item in commande.achats %}
            <tr>
                <td>{{  item.article.nom }}</td>
                <td><img height="40" width="40" src="{{ asset('upload/') }}{{ item.article.image }}" alt="{{ item.article.nom }}"></td>

                <td>{{ item.article.prix  }} €</td>
                <td>{{ item.article.prix * item.quantite }} €</td>

                {% endfor %}
            </tbody>

        </table>

        <div class="col-md-8 mt-2 mb-5 "><h4>Total de la commande : {{ commande.montantTotal }} €</h4>
            {% if commande.statut ==0 %}

            <a class="btn btn-success"  href="{{ path('statut', { id:commande.id, param:1 }) }}">Prendre en charge</a></div>
                {% elseif commande.statut ==1 %}
                    <a class="btn btn-success"  href="{{ path('statut', { id:commande.id, param:2 } ) }}">En cours d'acheminement?</a>
                {% elseif commande.statut ==2 %}
                    <a class="btn btn-success"  href="{{ path('statut',{ id:commande.id, param:3 }) }}">Livré?</a>
                {% else %}
                <button class="btn btn-success">Commande terminée</button>
            {% endif %}
    {% endfor %}

{% endblock %}



