{% extends 'baseBack.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-success col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="row justify-content-center mt-4">
            <div class="alert alert-danger col-md-6 text-center">{{ message }}</div>
        </div>
    {% endfor %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('modifCategorie', {'id':categorie.id }) }}">Modifier</a>
                    <a class="btn btn-danger" href="{{ path('deleteCategorie', {'id':categorie.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}


        </tbody>



    </table>



{% endblock %}



